@charset "utf-8";
* 						{margin: 0; padding: 0;}
body						{font: 16px Georgia, serif;}

#page-wrap				{margin: 2% auto; color: white;}
#page-wrap >.main 		{border: 1px solid #999; padding: 1%;
						 margin-bottom: 1px; color: black;}

section > div				{padding: 5px;}
header, nav, section		{background: #eee; text-align: center;}
footer					{background: #eee; text-align: center;}
nav span             				{ margin: 0px 10px 0px 0px;
						width: 100%;
						display: inline-block;}

#ErrorMsgs          		 { color: #f61; font-size: smaler}
#preview {
	width: auto;
	max-width: 900px;
	height: auto;
	max-height: 210px;
}
#tform{
	  border-radius: 25px;
	  background: #4CAF50;
	  padding: 20px;
}
#tshow {
	border-radius: 25px;
	background: #c2b616;
	padding: 20px;

}

.quizButton{
	background-color: #292ce9;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
	min-width:100%;
	min-height:100%;
}
.quizTable{
	min-width:80%;
	  margin-left: auto;
	  margin-right: auto;
}

.score{
	border-style: solid;
	border-width : 5px;
	background-color: #292ce9;
	color: white;
	text-align: center;
	border-color: yellow;
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;

}
.g-signin2 {
	width: 100%;
}

.g-signin2>div {
	margin: 0 auto;
}